[build]
builder = "nixpacks"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["python311"]

[build.nixpacksPlan.phases.install]
cmds = ["pip install -r requirements.txt"]

[build.nixpacksPlan.phases.build]
cmds = []

[build.nixpacksPlan.start]
cmd = "cd backend && uvicorn main:app --host 0.0.0.0 --port $PORT"

